<br><br>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container">

	<div class="row justify-content-center">
		<div class="col-12 col-md-8 col-lg-6 pb-5">

      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
                            <%= devise_error_messages! %>
                    <!--Form with header-->

                    <form action="mail.php" method="post">
                        <div class="card border-primary rounded-0">
                            <div class="card-header p-0">
                                <div class="bg-info text-white text-center py-2">
                                    <h3><i class="fa fa-envelope"></i> Correo de confirmación</h3>
                                    <p class="m-0">Con gusto te ayudaremos</p>
                                </div>
                            </div>
                            <div class="card-body p-3">

                                <!--Body-->

                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
                                        </div>

                                  <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Correo UTEM",class: "form-control", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
                                    </div>
                                </div>



                                <div class="text-center">
                                   <%= f.submit "Enviar Correo de Autenticación",class: "btn btn-primary" %>
                                </div>
                            </div>

                        </div>
                    </form>
                    <!--Form with header-->


                </div>
                <%end%>
	</div>
</div>
